<div *ngFor="let c of courses">
    <b>{{c}}</b>
    <div ngNonBindable>The Course that renders the above is {{c}}</div>
</div>

<table>
    <thead>
        <tr>
            <td [ngStyle]="{'color':color, 'font-size.px':fontSize}">First Name</td>
            <td>Last Name</td>
            <td>Age</td>
        </tr>
    </thead>
    <tr *ngFor="let s of students">
        <td [style.background-color]="'red'">{{s.fname}}</td>
        <td [style.color]="color">{{s.lname}}</td>
        <td [style.color]="color" [ngClass]="classObj">{{s.age}}</td>
    </tr>
</table>