<h1>{{stock}}</h1>

<h1>{{stock | percent:'3.1-2'}}</h1>

<h1>{{myNumber}}</h1>

<h1>{{myNumber | number:'4.2-3'}}</h1>

<h1>{{myObj | json}}</h1>

<h1>{{myMoney | currency}}</h1>

<h1>{{myMoney | currency:'GBP'}}</h1>

<h1>{{myMoney | currency:'INR'}}</h1>

<h1>{{myDate}}</h1>

<h1>{{myDate | date:'dd-MM-yy'}}</h1>

<h1>{{myDate | date:'MMM-dd-yyyy'}}</h1>

<h1>{{myDate | date:'shortDate'}}</h1>

<h1>{{myDate | date:'mediumDate'}}</h1>

<h1>{{myDate | date:'fullDate'}}</h1>

<h1>{{title}}</h1>

<h1>{{title | titlecase}}</h1>

<h1>{{title | uppercase}}</h1>

<h1>{{title | lowercase}}</h1>